*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(220, 15%, 55%);
    height: 100vh;
    display: flex;
    align-items: center;

}

.main{
    width:18rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    gap:1rem;
    margin: auto;
}
@media only screen and (max-width:375px) {
    .main{
        width: 90%;
    }
}
.content{
    padding:0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom:1.5rem;
}
.qr-image img{
    width: 100%;
    border-radius: 10px;
}

.content h3,.content p{
    text-align: center;
    color:hsl(218, 44%, 22%);
}

.content h3{
    font-size: 1.2rem;
}

.content p{
    font-size: 0.8rem;
    padding: 0 1rem;
}